In [1]:
list_one = [1, 2, "Aarif", 4, "khan"]
list_one[2]

'Aarif'

In [2]:
list_one*2

[1, 2, 'Aarif', 4, 'khan', 1, 2, 'Aarif', 4, 'khan']

# Lists are mutable , it means we can change it or manipulate it or assign it value

# TUPLES

In [3]:
#tuples are immutable

In [4]:
tuple_one=(1, 2, "Aarif", 5, "Khan")
tuple_one*2

(1, 2, 'Aarif', 5, 'Khan', 1, 2, 'Aarif', 5, 'Khan')

In [5]:
tuple_one[2]

'Aarif'

In [6]:
tuple_one[3]=6

TypeError: 'tuple' object does not support item assignment

In [7]:
#TODO:tuple object does not support item assignment

# Dictionary

In [13]:
my_name={
    "aarif":"07-06-97",
    "aasif":"27-03-01",
    "aamir":"24-03-93"
}
print(my_name.values())

dict_values(['24-03-93', '07-06-97', '27-03-01'])